qiskit-alice-bob-provider @ git+https://github.com/Alice-Bob-SW/qiskit-alice-bob-provider@logical
jupyter==1.0.0
matplotlib==3.8.0
tqdm==4.66.1
pylatexenc==2.10
PyMatching==2.1.0
tweedledum==1.1.1
scikit-learn==1.3.1
qiskit-algorithms==0.2.1
